
.br {
    border: 1px solid black;
}

#heatmap {
    width: max-content;
    margin: auto;
    text-align: center;
    font-family: sans-serif;
}

#title {
    font-size: 2rem;
    margin: 20px;
}

#description {
    font-size: 1.4rem;
    margin: 20px
}

#map svg {
    width: 1000px;
    height: 600px;
}

.g-text {
    font-size: .8rem;
}

#legend svg {
    margin-top: 20px;
    height: 100px;
}

